@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, sans-serif;
    font-size: 10px;
}

header.cover{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,20,0.7)),url(Assets/images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

nav-links{
    flex: 1;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: .3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
}

.text-box h1{
    font-size: 5.5rem;
    line-height: 6rem;
}
.text-box p{
    margin: 1rem auto 4rem;
    font-size: 1.4rem;
    color: #fff;
    width: 70%;

}

.hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    transition:0.5s;
}

.hero-button:hover{

    border: 2px solid #f44336;
    background: #f44336;
    

}

nav .fa{
    display: none;
}


@media (max-width:760px) {
    
    .text-box h1{
        font-size: 2rem;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: fixed;
        background: #f44336;
        height: 90vh;
        width: 40vw;
        top: 0;
        right: -40vw;
        z-index: 9;
        border-radius: 20px 0 0 20px;
        text-align: left;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 2.2rem;
        cursor: pointer;
    }

    nav .fa-close{
        position: absolute;
        top: 1%;
        right: 14%;
    }

    nav ul{
        margin-top: 30px;
        padding: 30px;
    }

}


/* Course */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

 h1{
   font-size: 3.6rem;
   font-weight: 600;


}

p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
    word-break: break-all;

}

.row{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;

}

.course-col{
    flex-basis: 31%;
    background-color: #ffebeb;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 10px auto;
}


.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width:760px){

    .row{
        flex-direction: column;
        gap: 10px;
    }
    .course-col{
        width: 50vw;
        margin: auto;
    }
    p{
        
        word-break: break-all;
        hyphens:manual;
    }

}


 /* Campus */

 .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.campus-col{
    flex-basis: 32% ;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.6s;
}

.layer:hover{
    background-color: rgba(226, 0, 0, 0.4);  
}

.layer h3{
    font-size: 2rem;
    width: 100%;
    font-weight: 500;
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: .5s;
    opacity: 0;
}

.layer:hover h3{
    bottom:49%;
    opacity: 1;
}

@media (max-width:760px){

    .campus .row{
        gap: 0px;
        justify-content: flex-start;
    }
    .campus-col{
        flex-basis: 1%;
        transform: scale(0.7);
        margin: 0;
    }

    .layer h3{
        top:10%;
        opacity: 1;
        width: 100%;
        text-shadow: 2px 2px 5px #6f6f6f;
        font-size: 2.5rem;
    }

}


/* Facility */

.facility{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facility-col{
    flex-basis: 31%;
    border: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facility-col img{
    width: 100%;
    border-radius: 10%;
}

.facility-col p {
    padding: 0;
}
.facility-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width:760px) {
    
     .facility .row{
        gap: 50px;
     }
}

 /* Testimonials */

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #ffebeb;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img{
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
}

.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    text-align: left;
    margin-top: 15px;
}

.testimonials-col .star{

    color: #f44336;
}


@media(max-width:760px){

    .testimonials-col img{

        margin-left: 0;
        margin-right: 15px;
    }

}


/* Call to Action */

.callToAction{
    width: 80%;
    margin: 100px auto;
    text-align: center;
    padding: 60px;
    background-image:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Assets/Images/banner2.jpg);
    background-position: center;
    border-radius: 10px;

}

.callToAction h1{
    color: #fff;
    margin-bottom: 40px;
}

.callToAction .hero-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 1.2rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    transition:0.5s;
    
}

.callToAction .hero-button:hover{
    background-color: #fff;
    color: #4c4c4c;
}


@media(max-width:760px){
    .callToAction{
        width: 50vw;
    }
    .callToAction h1{
        font-size: 24px;
    }

    h1{
        font-size:24px;
    }
}


/* footer */

footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: initial;
}

footer>p{
    width: 60%;
    margin: auto;
}

.social-icons .fab{
    font-size: initial;
    color: #f44336;
    margin: 0 30px;
    cursor: pointer;
    padding: 18px 0;
}

/* About Us Page */

header.sub-header{
   height: 50vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Assets/Images/background.jpg);
    background-position: center;
    text-align: center;
    background-size: cover;
    color: #fff;
}   

.sub-header h1{
    margin-top: 100px;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 20px 2px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}

.about-col .hero-button{
    background-color: transparent;
    color: #f44336;
    border: 2px solid #f44336;
}

.about-col .hero-button:hover{
    background-color: #f44336;
    color: #fff;
}


/* .blog-content */

.blog-content{
    width:80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
    font-size: 16px;
}

.blog-left p{
    color: #999;
    padding: 0;
    font-size: 16px;
}

.blog-right{
    flex-basis: 33%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px ;
    
}

.comment-box h3{
    text-align: left;
}

.comment-box input, .comment-box textarea{
    width: 100%;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
    border-radius: 5px;
}



.comment-box .hero-button{
    background-color: transparent;
    color: #f44336;
    border: 2px solid #f44336;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.comment-box .hero-button:hover{
    background-color: #f44336;
    color: #fff;
}

@media(max-width:760px) {
    .sub-header h1{
        font-size: 24px;
    }
}

/* Contact US Page */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    font-size: 16px;
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;

}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 500;
}


.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-col form .hero-button{
    background-color: transparent;
    color: #f44336;
    border: 2px solid #f44336;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}

.contact-col form .hero-button:hover{
    background-color: #f44336;
    color: #fff;
}